<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
       <preference for="Magento\Catalog\Model\Product\Gallery\CreateHandler"
                    type="Scaleflex\FileRobot\Model\Product\Gallery\CreateHandlerOverride" />
       <preference for="Magento\Catalog\Model\Product\Gallery\UpdateHandler"
                   type="Scaleflex\FileRobot\Model\Product\Gallery\UpdateHandlerOverride" />
       <preference for="Magento\Catalog\Ui\Component\Listing\Columns\Thumbnail"
                   type="Scaleflex\FileRobot\Ui\Component\Listing\Columns\Thumbnail" />
       <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Related"
                    type="Scaleflex\FileRobot\Ui\DataProvider\Product\Form\Modifier\RelatedThumbnail" />
</config>
